<div class="vacation-form">
  <h2>{{ isEditMode  ? 'Editar Férias' : 'Adicionar Férias' }}</h2>


  <form [formGroup]="vacationForm" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      
      <!-- Funcionário -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Funcionário</mat-label>
        <mat-select formControlName="employeeId" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Início das férias -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Inicio</mat-label>
        <input
         matInput 
         [matDatepicker]="pickerStart" 
         formControlName="startDate" 
         [matDatepickerFilter]="filterValidDate"
         >
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>

      <!-- Fim das Férias -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fim</mat-label>
        <input
         matInput 
         [matDatepicker]="pickerEnd" 
         formControlName="endDate" 
         [matDatepickerFilter]="filterValidDate"
         >
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>

    </div>

    <!-- Ações -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="vacationForm.invalid">
        {{ isEditMode  ? 'Atualizar' : 'Salvar' }}
      </button>
    </div>
  </form>
</div>
