<div class="form-container">
    <h2>{{ isEditMode ? 'Editar Funcionário' : 'Novo Funcionário' }}</h2>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <!-- Nome -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">
                Nome é obrigatório
            </mat-error>
            <mat-error *ngIf="employeeForm.get('name')?.hasError('minlength')">
                Nome deve ter pelo menos 3 caracteres
            </mat-error>
        </mat-form-field>

        <!-- Data de Nascimento -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput type="date" formControlName="birthDate" required>
            <mat-error *ngIf="employeeForm.get('birth_date')?.hasError('required')">
                Data de nascimento é obrigatória
            </mat-error>
            <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('date')">
                Data de nascimento inválida
            </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
                Email é obrigatório
            </mat-error>
            <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
                Email inválido
            </mat-error>
        </mat-form-field>

        <!-- Telefone -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" required>
            <mat-error *ngIf="employeeForm.get('phone')?.hasError('required')">
                Telefone é obrigatório
            </mat-error>
        </mat-form-field>

        <!-- Botões -->
        <div class="button-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">
                {{ isEditMode ? 'Salvar Alterações' : 'Criar Funcionário' }}
            </button>
            <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>